@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  font-family: 'Bangers', cursive;
}

#root {
  background: greenyellow;
}



html {
  background: greenyellow;
}

.note {
  width: 332px;
  /* height: 143px; */
  background-color: black;
  box-shadow: wheat;
  position: relative;
  top: 47px;
  text-align: center;
  margin: 16px;
  /* border-radius: 23%; */
  box-shadow: 5px 10px 18px green;
  float: left;


}

.note h1 {
  font-size: 1.1em;

  padding-top: 10px;
  color: green;
  border-bottom: orange solid 4px;
  padding-bottom: 10px;
 
}

.note h2 {
  
  color: green;
  white-space: pre-wrap;
  word-wrap: break-word;
  
}

.note p {
  color: green;
 font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}



form {
  position: relative;
  width: 480px;
  height: 180px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}